

#root{
    position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
    padding: 0;
    margin: 0; 
}

.App{
    
    position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
    padding: 0;
    margin: 0; 

}

#parent-div{
    
    position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
    padding: 0;
    margin: 0; 

}