#drawer-div{
    position: fixed;
    background-color: black;
}

header{
    background-color: black;
}

/*
 * We'll use CSS grids for the base template
 * More info on https://cssgrid.io/ by @wesbos
 */
 #main {
    display: grid;
    grid-template-columns: 6rem auto;
    /* Or grid-template-columns: config('width.24') auto; */
  }
  

  
  a {
    text-decoration: none;
    /* Or @apply .no-underline; */
  }
  
  /* Just a new padding size */
  .pt-16 {
    padding-top: 4rem;
  }
  
  /*
   * Just some customized new utilities needed for the submenus
   * Add this before
   */
  .top-full { top: 100%; }
  .left-full { left: 100%; }
  
  /* 
   * Active "group-hover" for the "display" module in your
   * tailwind.js config file like this:
   * 
   * display: ['responsive', 'group-hover']
   *
   * More info on https://tailwindcss.com/docs/state-variants/#group-hover
   */
  .group:hover .group-hover\:block {
    display: block;
  }